<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="end" style="height: 40px; width: 40px; margin-right: 25px;">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-title>Username 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <ion-grid>
    <ion-row *ngFor="let message of messages">

      <ion-col size="9" *ngIf="currentUser !== message.user" class="message notUser">
        <b> {{ message.user }} </b>
        <span> {{ message.msg }} </span>
      </ion-col>

      <ion-col offset="3" size="9" *ngIf="currentUser === message.user" class="message user">
        <b> {{ message.user }} </b>
        <span> {{ message.msg }} </span>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="ion-align-items-center ion-no-padding">
      <!--<ion-col slot="start">
        <ion-button (click)="AddMedia">
          <ion-icon name="add" slot="start"></ion-icon>
        </ion-button>
      </ion-col>-->
      <ion-col size="10">
        <textarea placeholder="Type Your Message" color="black" autosize maxRows="4" [(ngModel)]="userMSG" class="message-input"></textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" (click)="sendMessage()" class="send-button">
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
