:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 20px;
}

.message {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.notUser {
  background: var(--ion-color-tertiary);
  color: var(--ion-color-quater);
}

.user {
  background: var(--ion-color-primary);
  color: var(--ion-color-quater);
}

.message-input {
  background-color: var(--ion-color-textinput);
  color: var(--ion-color-quater);
  border-color: var(--ion-color-textinput);
  width: 100%;
  height: 20px;
  resize: none;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  max-height: 60px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  /* Firefox */
  opacity: 0.7;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black;
}

.send-button {
  max-width: 42px;
  --padding-start: 0.5em;
  --padding-end: 0.5em;
}

*:focus {
  outline: none;
}

.text-input::-moz-placeholder {
  color: var(--ion-color-quater);
}

.text-input:-ms-input-placeholder {
  color: var(--ion-color-quater);
}

.text-input::-webkit-input-placeholder {
  color: var(--ion-color-quater);
}
