*:focus {
  outline: none;
}

section {
  margin-top: 1em;
  margin-bottom: 2.5em;
}

.full-width > header,
section:not(.full-width) {
  padding: 0 10px;
}

.button-solid {
  --background: #840032;
  --background-focused: #313131;
  --background-hover: #313131;
  --color: #ffffff;
  --color-activated: #ffffff;
  --color-focused: #ffffff;
}
