input:focus,
textarea:focus {
  outline: none;
}

*:focus {
  outline: none;
}

.label-ios + .input,
.label-ios + ion-input .text-input,
.label-ios + ion-textarea .text-input {
  border: none !important;
  margin-left: 5px !important;
}

.label-ios + .input,
.label-md + ion-input .text-input,
.label-md + ion-textarea .text-input {
  border: none !important;
  margin-left: 5px !important;
}
